/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

$main-color: #f2f2f2; // a faint grey for the page background//
$secondary-color: #339999; // blue//
$tertiary-color: #ea4c42; // salmon//
$fourth-color: #c7c7c7; // darker grey//

$primary-font-color: #121212;
$secondary-font-color: #F4F4F1;

.landing-page-body {
  background-color: $main-color;
  background-image: url("splash-pattern2.png");
}

.splash-header {
  margin-top: 6em;
  text-align: center;
    h1 {
      font-family: Gudea;
      color: $secondary-font-color;
      border-bottom: double $fourth-color .5em;
      margin-bottom: 2rem;
    }
    h3 {
      font-family: Raleway;
      color: $secondary-font-color;
    }
}

.splash-actions {
  text-align: center;
  margin-top: 3em;
  a {
    background-color: $fourth-color;
    font-family: Cabin;
    margin: 0 1em 0 1em;
    &:hover {
      background-color: $main-color;
      color: $primary-font-color;
    }
  }
}

.user-page-body, .project-page-body {
  text-align: center;
  background-color: #ffffff;
  & > .row {
    background-color: $main-color;
  }
  h1, h3, h6, p, li {
    color: $primary-font-color;
  }
  h1, h3 {
    font-family: Gudea;
  }
  h6, p, li {
    font-family: Raleway;
  }
  a {
    font-family: Cabin;
    font-size: 1.2em;
    &:hover {
      color: $secondary-color;
      background-color: $main-color;
    }
  }
  li {
    list-style: none;
  }
  .button {
    color: $secondary-font-color;
    background-color: $secondary-color;
    &:hover {
      background-color: $fourth-color;
    }
  }
  .edit-profile, .edit-project {
    margin-right: 1em;
    width: 10em;
  }
  .delete-profile, .delete-project {
    margin-left: 1em;
    width: 10em;
    &:hover {
      background-color: $tertiary-color;
    }
  }
}

.profile-header {
  border-bottom: double $fourth-color .5em;
  margin: 3em 0 4em 0;
}

.skills-section, .interests-section {
  margin-top: 3em;
  h3 {
    text-align: center;
    text-decoration: underline;
  }
  ul {
    margin: 0;
    border-left: 0.1em solid #000000;
    border-right: 0.1em solid #000000;
  }
  li{
    text-align: center;
  }
}

.about-me-section {
  margin-bottom: 2em;
}

.contact {
  margin: 4em 0 1em 0;
}

.project-proposals-section {
  margin-bottom: 3em;
}

.profile-actions, .project-actions {
  margin-top: 7em;
}

.match-list {
  margin-bottom: 0;
}

#recommended-projects-list, #recommended-users-list {
	li {
		padding: .5em .5em;
	}
}

.project-name {
  margin: 2em 1em;
}

.proposal {
  padding: 0 5em 0 5em;
}

.project-skills-section {
  margin-top: 5em;
}

.project-interests-section {
  margin-bottom: 3em;
}

.project-skills-section li {
  font-size: 1.2em;
}

.project-interests-section li {
  font-size: 1.2em;
}
